


<form action="/artist" method="post">
  NAME:<input type="text" name="name">
  AGE:<input type="number" name="age">
  SHORT BIO..LIKE REALLY SHORT:<input type="text" name="bio">
  <input type="submit" value="Add that Shit">
</form>
